body, html {
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;

}

body{
    background: url(../images/background\ blk.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

section div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


.mainnav{
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    bax-sizing: border-box;
}

nav{
    flex: 1;
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav ul li a:hover{
    color: #ea00ff;
    transition: 0.5s;
}


.btn {
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 50px;
    font-size: 18px;
   }
  
.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;}
  
.btn-1 {
    background-image: linear-gradient(to right, #03001e -10%, #7303c0 50%, #ec38bc 90%, #fdeff9 110%, #ec38bc 150%);
}


#logo{
    font-size: 1.3em;
}


section {
    position: relative;
    width: 100%;
    height: 100vh;    
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: 0px;
    right: 0px;
    top: -100px;
    bottom: 0px;
    margin: auto;
    z-index: -1;

}

.Head{
    position: relative;
    width: 70%;
    text-align: left;
    margin-left: 0px;
    float: left;
    vertical-align: middle;
}

.profileimg {
    position: relative;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
    vertical-align: middle;
    box-shadow: 0px 0px 40px 0px #7303c0;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.profile {
    position: relative;
    margin-top: 0px;
    width: 300px;
    height: auto;
    
}

.sudesh-thashmika {
    color: #ffffff;
    font-size: 80px;
}


.sudesh-thashmika span {

  /* Create the gradient. */
  background-image: linear-gradient(to right,#fdeff9 0%, #ec38bc 20%,#7303c0 100%, #03001e 150% );
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.also-known {
    color: #8a8a8a;
    font-size: 30.55px;
    margin-top: -60px;
    font-weight:lighter;
}

.also-known span {
    color: #ffffff;
    font-weight: bold;
}

.description {
    color: #8a8a8a;
    font-size: 18.88px;
    font-weight:lighter;
}

.bottom-bar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 8%;
    padding-bottom: 3%;

}

.bottom-bar a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
}

.bottom-bar a:hover {
    color: #ea00ff;
    transition: 0.5s;
}

.btn {
    font-style: normal;
    font-display: swap;
}

.btn2 {
    margin-left: 10px;
}