body, html {
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;

}

a{
    color: #fff;
    text-decoration: none;
}

body{
    background: url(../images/background\ blk.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 500px;
}

.mainnav{
    margin: 50px;
    color: #fff;
}

nav ul{
    list-style-type: none;
    float: right;
    align-items: center;
}
nav ul li{
    float: left;
}
nav ul li a{
    padding: 0 30px;
}

#logo{
    font-size: 1.3em;
}


section {
    position: relative;
    height: 100%;


    
}
.container {
    position: absolute;
    margin-left: 150px;
    margin-right: 150px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;

}

.Head{
    position: relative;
    width: 70%;
    text-align: left;
    margin-left: 0px;
    float: left;
    vertical-align: middle;
}

.profileimg {
    position: relative;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile {
    position: relative;
    margin-top: 0px;
    width: 300px;
    height: auto;
}

.sudesh-thashmika {
    color: #ffffff;
    font-size: 80px;
}

.sudesh-thashmika span {
    color: #ea00ff;
}

.also-known {
    color: #8a8a8a;
    font-size: 30.55px;
    margin-top: -60px;
    font-weight:lighter;
}

.also-known span {
    color: #ffffff;
    font-weight: bold;
}

.description {
    color: #8a8a8a;
    font-size: 18.88px;
    font-weight:lighter;
}

.bottom-bar {
    position: relative;
    left: 0px;
    bottom: 0px;
    margin: 50px;
}

.btn {
    font-style: normal;
    font-display: swap;
}

.btn2 {
    margin-left: 10px;
}