body, html {
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a{
    color: #fff;
    text-decoration: none;
}

body{
    background: url(../images/background\ blk.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 500px;
}

.mainnav{
    padding: 50px;
    color: #fff;
}

nav ul{
    list-style-type: none;
    float: right;
    align-items: center;
}
nav ul li{
    float: left;
}
nav ul li a{
    padding: 0 30px;
}

#logo{
    font-size: 1.3em;
}

.container {
    position: relative;
    margin: 150px;
}

.Head{
    position: relative;
    max-width: 400px;
    text-align: left;
    margin-left: 0px;
}

.profileimg {
    position: absolute;
    margin-left: 800px;
    margin-top: 0px;
}